export(
	plot.event,
	plot.pollutant,
	plot.pacf,
	plot.qq,
	print.summary,
	periodogram,
	explore.temp,
	explore.humid,
	exposure.response,
	plot.envelope,
	plot.fitted,
	plot.residuals,
	plot.constinfo,
	fit.core,
	estimate.risks,
	print.risk,
	plot.cook,
	daily.stats,
	setup,
	gen.holidays,
	import.data,
	export.data,
	fillup.hours,
	save.plot,
	pgps,
	resdf,
	dispersion,
	get.residuals,
	diagnostics,
	l,
	ma,
	rr.eval,
	plot.risk,
	stockplot,
	bubbleplot,
	count.na,
	desc.data,
	desc.vars,
	ljungbox.test,
	whitenoise.test,
	periodogram.test,
	pdf.report,
	unload,
	lagvar,
	pdl,
	get.beta,
	pdlm,
	plot.pdlm,
	summary.pdlm,
	print.summary.pdlm,
	lspline,
	sincos
	)

# exportPattern("^[^\\.]") # export all for debugging
